<div class="map-container">
  <div style="flex: 2;">
    <google-map
      height="100%"
      width="100%"
      [center]="center"
      [zoom]="zoom"
    >
      <map-marker
        *ngFor="let marker of displayMarkers()"
        [position]="marker.position"
        [title]="marker.title"
        (mapClick)="openInfoWindow(markerRef, marker)"
        #markerRef
      >
      </map-marker>

      <map-info-window *ngIf="selectedMarker">
        <strong>{{ selectedMarker.title }}</strong><br />
        <small>{{ selectedMarker.description }}</small>
      </map-info-window>
    </google-map>
  </div>

  <div style="flex: 1; padding: 10px; overflow-y: auto;">
    <div *ngFor="let country of locationData">
      <label>
        <input
          type="checkbox"
          [(ngModel)]="country.selected"
          (change)="onCountryToggle(country)"
        />
        {{ country.country }}
      </label>
      <div *ngFor="let city of country.cities" style="margin-left: 10px;">
        <label>
          <input
            type="checkbox"
            [(ngModel)]="city.selected"
            (change)="onCityToggle(city, country)"
          />
          {{ city.name }}
        </label>
      </div>
    </div>
  </div>
</div>
