<div class="flex-container">
  <!-- Left: Google Map -->
  <div class="map-container">
    <div id="map"></div>
  </div>

  <!-- Right: Country/State/Capital List -->
  <div class="sidebar">
    <h2>Select Countries</h2>
    <div *ngFor="let country of countries">
      <label>
        <input type="checkbox" [(ngModel)]="country.selected" />
        {{ country.name }} ({{ country.id }})
      </label>

      <div *ngIf="country.selected" class="state-list">
        <div *ngFor="let state of country.states">
          <strong>{{ state.name }}</strong>
          <ul>
            <li *ngFor="let capital of state.capitals">
              <label>
                <input type="checkbox" [(ngModel)]="capital.selected" (change)="onCapitalSelect(capital)" />
                {{ capital.name }}
              </label>
              <span class="clickable" (click)="goToCapital(capital)">
                ({{ capital.knownFor }})
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
