<div class="flex h-screen">
  <!-- Left: Map -->
  <div class="w-2/3 p-4">
    <div id="map" class="w-full h-full border rounded-lg shadow"></div>
  </div>

  <!-- Right: Country list -->
  <div class="w-1/3 p-4 overflow-y-auto">
    <h2 class="text-xl font-bold mb-4">Select Countries</h2>

    <div *ngFor="let country of countries">
      <div class="mb-3 border-b pb-2">
        <label class="font-semibold">
          <input type="checkbox" [(ngModel)]="country.selected" (change)="onCountrySelect(country)" />
          {{ country.name }} ({{ country.id }})
        </label>

        <div *ngIf="country.selected" class="ml-4 mt-2">
          <div *ngFor="let state of country.states">
            <div class="font-medium text-sm">{{ state.name }}</div>
            <ul class="ml-4">
              <li *ngFor="let capital of state.capitals">
                <label>
                  <input type="checkbox" [(ngModel)]="capital.selected" (change)="onCapitalSelect(capital)" />
                  {{ capital.name }}
                </label>
                <span class="text-blue-600 underline text-xs ml-1 cursor-pointer"
                      (click)="goToCapital(capital)">
                  ({{ capital.knownFor }})
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
